@import 'utils/variables';
@import 'components/type';



/* VERSION DESKTOP*/

body{
    font-family: "Bebas Neue";
    line-height: 1.4;
    margin: 60px;
}

.titre-accident{
    font-size: 47px;
}

.titre-liste{
    font-size: 36px;
}

#resultContainer {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    width: 100%; 
    margin-top: 20px; 
}

#resultContainer ul {
    list-style: none;
    padding: 0;
    width: 50%;
}

#resultContainer li {
    padding: 10px;
    margin: 5px 0;
    border-bottom: solid 1px;
}

select{
    font-family: "Bebas Neue";
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #353535;
    background-color: white;
    color: #333;
    cursor: pointer;
    transition: 0.3s;
    outline: none;
}

div {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* VERSION MOBILE*/

@media (min-width: 390px) and (max-width: 767px){

    #filterContainer {
        flex-direction: column;
        align-items: center;
      }
    
      select {
        width: 90%;
      }
    
      #resultContainer {
        width: 100%;
      }

      .titre-accident{
        font-size: 27px;
      }

      .titre-liste{
        font-size: 20px;
      }
}

.section--first{
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    position: relative;
    
}
    


body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    display: flex;
    justify-content: center;
}
h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 52px;
    text-align: center;
}



.text_insta{
    display: flex;
    justify-content: right;
    margin-top: 40px;
    list-style: none;
    text-decoration: none;
    color: white;
        

    
}

.text_insta:hover {
    text-decoration: underline;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.grid {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    column-gap: 20px;
    padding: 0 20px;
}
.grid > * {
    grid-column: 1/-1; 
}
.mgrid01{
    grid-column-end: 1;
}


.mgrd02{
    grid-column-start: 2;
    grid-column-end: 3;
}

.mgrd03{
    grid-column-start: 3;
    grid-column-end: 4;
}

.mgrd04{
    grid-column-start: 4;
    grid-column-end: 5;
}

.mgrid0{
    grid-column-start: 1;
    grid-column-end: -1;
}

.mgrid{
    grid-column-start: 2;
}
.img_intro {
    flex: 1 1 20%; // Assurez-vous que chaque image prend 20% de la largeur du conteneur
    max-width: 20%; // Limitez la largeur maximale de chaque image à 20%
    height: auto;
}

.icon {
    width: 20px;
    height: 20px;
    background-image: url('../assets/images/instagram_icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 38px;
    margin-right: 10px;
    
    
}

.icon-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (min-width: 800px){


    .grid {
        display: grid;
        grid-template-columns:repeat(5, 1fr);
        column-gap: 30px;
        padding: 0 30px;
    }

    body {
        font-size: 18px;
        margin: 0;
        padding: 0;
       
    }
    h1 {
        
        font-size: 77px;
        text-align: center;
    }


    .tgrid_text{
        grid-column-start: 2;
        grid-column-end: 5;
    }


}

@media (min-width: 1200px){
    .grid {
        display: grid;
        grid-template-columns:repeat(7, 1fr);
        column-gap: 30px;
        padding: 0 30px;
    }

    body {
        font-size: 20px;
        margin: 0;
        padding: 0;
       
    }

    h1 {
        
        font-size: 112px;
        text-align: center;
    }

    .dgrid3{
        grid-column-start: 3;
        grid-column-end: 6;
    }
}
 
